aiohttp
beautifulsoup4
bilibili-api-python==15.5.1
browsermob_proxy
Flask
fuzzywuzzy
httpx
icalendar
jieba
loguru
lxml
numpy
pandas
Pillow
psutil
pydantic
PyMySQL
pypinyin
qrcode
requests
selenium
tinydb
tinyrecord
tqdm
ujson
apscheduler
matplotlib
wordcloud
mysql-connector-python
pyjsparser
websockets
cairosvg # for chess plugin
chess    # for chess plugin
pyspellchecker # for wordle plugin
imgkit # you need apt install wkhtmltox # for leetcode plugin
pinyin # for abstract plugin
feedparser # for arxiv plugin